* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  line-height: 1;
  font-weight: 400;
  padding: 0 4rem;
  font-family: sans-serif;
}
.flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.flex-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

section {
  padding: 3rem 0;
}

.secondary-head {
  text-align: center;
  font-size: 2.5rem;
  padding: 3rem 0;
  color: #212529;
}

.primary-head {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bolder;
  padding: 3rem 0;
  color: #212529;
  margin: 0 1.7rem;
}
.third-head {
  font-size: 1.8rem;
  letter-spacing: -1px;
}

.secondary-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}
.img {
  width: 10%;
  height: 10%;
}

img {
  width: 100%;
  height: 100%;
}
.use-img {
  border-radius: 5px;
  box-shadow: -15px -15px 25px rgba(255, 255, 255, 0.5),
    15px 15px 25px rgba(0, 0, 0, 0.4), -5px -5px 15px rgba(255, 255, 255, 0.3),
    5px 5px 15px rgba(0, 0, 0, 0.3);
}

.para {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  /* text-align: center; */
}
span {
  font-size: 2rem;
  margin-right: 0.5rem;
  font-weight: bold;
}
/* ************************** */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.logo-flex {
  display: flex;
  align-items: center;
}
.header-para {
  font-weight: 700;
  font-size: 1.3rem;
  color: #212529;
}

.header-link-1 {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
}
.header-link-2 {
  font-size: 1rem;
  padding: 0.5rem 0.875rem;
  border-radius: 5px;
  color: #fff;
  background-color: #5c7cfa;
  transition: all 0.5s ease-in;
}
.header-link-2:hover {
  color: #fff;
  background-color: #3b5bdb;
}

.hero {
  width: 100%;
}

.grid {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.box-1 {
  width: 35%;
  height: 60%;
  background-color: #ffd43b;
  padding: 3rem;
  border-radius: 10px;
  transition: all 0.75s ease;
}
.box-1:hover {
  transform: translateY(-7px);
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(255, 255, 255, 0.2),
    5px 5px 5px rgba(0, 0, 0, 0.1) inset;
}
.sub-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.flex-head {
  font-size: 2.5rem;
}
.flex-para {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.emt {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  cursor: pointer;
}

.hero-link-1 {
  display: inline-block;
  color: #fff;
  background-color: #5c7cfa;
  padding: 0.875rem 1rem;
  width: 60%;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.75s ease;
  border: none;
}
.hero-link-1:hover {
  /* text-shadow: 0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 30px #fff; */
  transform: translateY(-5px);
  box-shadow: 15px 5px 20px rgba(0, 0, 0, 0.1);
}

.box-2 {
  width: 35%;
  height: 60%;
  color: #fff;
  background-color: #5c7cfa;
  padding: 3rem;
  border-radius: 5px;
  transition: all 0.75s ease;
}

.box-2:hover {
  transform: translateY(-7px);
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(255, 255, 255, 0.2),
    5px 5px 5px rgba(0, 0, 0, 0.1);
}
.hero-link-2 {
  display: inline-block;
  color: #212529;
  font-weight: 500;
  background-color: #ffd43b;
  padding: 0.875rem 1rem;
  width: 60%;
  font-size: 1rem;
  border-radius: 8px;
  transition: all 0.75s ease;
  border: none;
}
.hero-link-2:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.flex-col-3 {
  /* width: 90%;
  margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.icon {
  width: 50px;
  height: 50px;
  padding: 1rem;
  border-radius: 50%;
  background-color: #ffd43b;
  color: #212529;
  transition: all 0.75s ease;
}

.icon:hover {
  /* transform: scale(1.1); */
  transform: translateY(-8px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* .grid-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  justify-content: space-between;
} */
.flex-img {
  width: 100%;
  height: 50%;
  border-radius: 8px;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-size: 1.2rem;
  /* align-items: center; */
}
.item {
  display: flex;
  align-items: center;
}

.ico {
  width: 24px;
  height: 24px;
  color: #12b886;
}

.flexs {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.flex-col-2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.course-para {
  display: grid;
  place-items: center;
  width: 90%;
  height: 15vh;
  background-color: #ecedee;
  font-size: 1rem;
  padding: 1rem;
  position: relative;
  border-radius: 5px;
}

.course-para p {
  color: #212529;
  font-weight: 600;
}
.course-span {
  width: 24px;
  height: 24px;
  padding: 0.75rem;
  background-color: #ffd43b;
  color: #212529;
  font-weight: 900;
  border-radius: 5px;
  position: absolute;
  top: -55%;
  transform: translate(-50%, 50%);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
}
/* 
.course-span:hover {
  transform: scale(1.3);
} */
.head {
  margin-bottom: 2rem;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.anhor {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3b5bdb;
  transition: all 0.75s ease-in;
  text-decoration: underline;
}
.anhor:hover {
  text-decoration: underline;
  color: #5c7cfa;
}
.testimonial {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 3rem;
}
.testimonial-img {
  width: 75px;
  height: 75px;
}
.verify-img {
  border-radius: 50%;
  transition: all 0.5s ease-in;
  overflow: hidden;
}
.verify-img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.use-img {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  /* 60% {
    transform: translateY(10px);
  } */
}

.rating {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.rating-para {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
.author {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.author-name {
  font-weight: 600;
  font-size: 1.1rem;
}
.card {
  padding-bottom: 3rem;
}
.a {
  color: #212529;
  font-weight: 600;
  text-decoration: underline;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-top: 2px solid #ddd;
}
